@model List<Perfil>
@{
    ViewBag.Title = "2.- Perfiles del Usuario";

    <br />
    <br />
    <div class="container-sm">
        @if (ViewBag.NumPerfiles > 0)
        {
            <h2 style="text-align:center; margin-bottom:5%; color:white">Elige una de tus modalidades</h2>

            <div class="row">
                @{foreach (var perfil in Model)
                    {

                        <div class="col-md-3" style="border-bottom:1px solid white; margin-bottom:5%">
                            <img src="@perfil.Imagen" class="img-fluid" style="margin-bottom: 5%" />
                            <a href="@Url.Action("Herramientas_Usuario", "Home", new { idPerfil = perfil.Id, idUsuario = ViewBag.IdUsuario })" class="btn btn-dark" style="font-size:1.5em; margin-top:10%; margin-left: 5%; margin-bottom:10%;">@perfil.Nombre</a>
                        </div>


                    }
                }

            </div>


            <div class="row" style="padding:5%">

                @if (ViewBag.PerfilCompleto == false)
                {
                    <div class="col">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPerfil" onclick="fnCrearPerfil()">
                            Añadir Nuevo Perfil
                        </button>
                    </div>

                }
                @if (ViewBag.PerfilesOcultos > 0)
                {
                    <div class="col">
                        <button type="button" class="btn btn-success" id="btnOcultarMostrar" onclick="fnMostrarPerfilesOcultos()">
                            Perfiles Ocultos
                        </button>
                    </div>
                }
            </div>

        }
        else
        {
            <h2 style="color:white">No dispones de ningún perfil para tu usuario</h2>
            <br />
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalPerfil" onclick="fnCrearPerfil()" style="margin: 5%">
                Añadir Nuevo Perfil
            </button>
        }


    </div>

}



<!-- Modal Crear Nuevo Perfil -->
<div class="modal fade" id="ModalPerfil" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color:black; border:3px solid grey">
            <div class="modal-header">
                <h4 class="modal-title" style="color:white">Crear Nuevo Perfil</h4>
            </div>
            <div class="modal-body">
                <div id="resPerfil"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        //$("#btnAlert").click(function () {

        //    console.log("Alert alerttt");

        //});

        function fnCrearPerfil() {

            //debugger;
            $.ajax({

                type: "POST",
                url: "@Url.Action("_PasoParaCrearPerfil", "Home")",
                data: { idUsuario: @ViewBag.IdUsuario},
                dataType: "html",
                success: function (response) {
                  $('#resPerfil').html(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert("Introduce una fecha correcta y Km de la ruta");
                }
            })
        };

        $("#btnOcultarMostrar").click(function () {

            $.ajax({

                type: "POST",
                url: "@Url.Action("Actualizar_Perfiles_Usuario", "Home")",
                data: { idUsuario: @ViewBag.IdUsuario},
                dataType: "html",
                success: function (response) {
                    window.location.reload();
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert("Error al ocultar o mostrar perfiles del usuario");
                }


            });
        });

    </script>
}














