@model IEnumerable<GR_MVC_17.RegistroRutas>

@{
    ViewBag.Title = "4.- Registro de las Herramientas";

    var _idUsuario = ViewBag.Usuario;
    var _idHerramienta = ViewBag.Herramienta;
    var _idPerfil = ViewBag.Perfil;




}
<div class="container" style="padding:5%">
    <div class="row" style="margin-bottom:5%">

        <div class="col-md-12">
            <h2 style="color:whitesmoke">@ViewBag.NombreHerramienta <span>(@ViewBag.CalculoKm)</span></h2>
        </div>
    </div>

    <div class="row" style="margin-bottom:5%; text-align:center">

        <div class="col">
            <button type="button" class="btn btn-success btn-sm" onclick="funcionCrearRegistro();" data-bs-toggle="modal" data-bs-target="#ModalRegistro">Nuevo Registro</button>
        </div>
        <div class="col">
            <a class="btn btn-danger btn-sm" href="@Url.Action("Herramientas_Usuario", "Home", new { idPerfil = _idPerfil, idUsuario = _idUsuario })"> Volver a Herramientas</a>
        </div>

    </div>



    

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @if (ViewBag.BasePaginacionV.PaginaActual == 1)
            {
                <li class="disabled"><a href="@Url.Action("Registro_Herramienta", "Home", new { idHerramienta = _idHerramienta, idUsuario = _idUsuario, idPerfil = _idPerfil, pagina = 1 })" class="btn btn-dark btn-sm">Anterior</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Registro_Herramienta", "Home", new { idHerramienta = _idHerramienta, idUsuario = _idUsuario, idPerfil = _idPerfil, pagina = ViewBag.BasePaginacionV.PaginaActual - 1 })" class="btn btn-dark btn-sm">Anterior</a></li>
            }
            @if (ViewBag.BasePaginacionV.PaginaActual == ViewBag.BasePaginacionV.CantidadDePaginas)
            {
                <li class="disabled"><a href="@Url.Action("Registro_Herramienta", "Home", new { idHerramienta = _idHerramienta, idUsuario = _idUsuario, idPerfil = _idPerfil, pagina = ViewBag.BasePaginacionV.CantidadDePaginas })" class="btn btn-dark btn-sm">Siguiente</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Registro_Herramienta", "Home", new { idHerramienta = _idHerramienta, idUsuario = _idUsuario, idPerfil = _idPerfil, pagina = ViewBag.BasePaginacionV.PaginaActual + 1 })" class="btn btn-dark btn-sm">Siguiente</a></li>
            }

        </ul>
    </nav>

    @*<div class="ratio-4x3">*@
        <div class="table-responsive">
            <table class="table">
                <tr class="ratio-16x9">
                    <th>
                        @Html.Label("Fecha")
                    </th>
                    <th>
                        @Html.Label("Ruta")
                    </th>
                    <th>
                        @Html.Label("Km")
                    </th>
                    <th>
                        @Html.Label("Tiempo")
                    </th>
                    @*<th>
                        @Html.Label(" ")
                    </th>*@
                    <th>
                        @Html.Label(" ")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="ratio-16x9" style="font-size:smaller">
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RutasUsuario.Nombre)
                        </td>
                        <td>
                            @if (item.Km > 0)
                            {
                                @Html.DisplayFor(modelItem => item.Km)
                            }
                        </td>
                        <td>
                            <img src="@item.TipoInconveniente.Imagen" />
                        </td>
                        @*<td>
                            <button type="button" class="btn btn-warning" onclick="abrirModalModificar(@item.Id)" data-bs-toggle="modal" data-bs-target="#ModalModificarRegistro" />Modificar
                        </td>*@
                        <td>
                            <button type="button" class="btn btn-danger btn-sm" onclick="abrirModalEliminar(@item.Id)" data-bs-toggle="modal" data-bs-target="#ModalEliminarRegistro" />Eliminar
                        </td>
                    </tr>
                }

            </table>
        </div>

    @*</div>*@






    <!-- Modal Crear Registro -->
    <div class="modal fade" id="ModalRegistro" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:black; border:3px solid grey">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel" style="text-align:center; color:white">Crear Nuevo Registro</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="resRegistro"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Modificar Registro -->
    @*<div class="modal fade" id="ModalModificarRegistro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:black; border:3px solid grey">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:white">Modificar Registro</h4>
                </div>
                <div class="modal-body">
                    <div id="resModificarRegistro"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>*@


    <!-- Modal Eliminar Registro -->
    <div class="modal fade" id="ModalEliminarRegistro" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="background-color:black; border:3px solid grey">
                <div class="modal-header">
                    <h4 class="modal-title" style="color:white">Eliminar Registro</h4>
                </div>
                <div class="modal-body">
                    <div id="resConfirmarEliminar"></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

</div>




<script>
    function funcionCrearRegistro() {
    //debugger;
    $.ajax({
        cache: false,
        async: true,
        type: "POST",
        data: { idUsuario: @_idUsuario, idHerramienta: @_idHerramienta, idPerfil: @_idPerfil},
        dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
        url: '@Url.Action("_PasoParaCrearRegistro", "Home")',
        success: function (response) {
            $('#resRegistro').html('');
            $('#resRegistro').html(response);
        },

        error: function (error) {
            // si hay un error lanzara el mensaje de error
            alert('Fail');
        }
    });
        }

        @*function abrirModalModificar(id) {

            var idR = id;

            $.ajax({
                cache: false,
                async: true,
                type: "POST",
                data: { idUsuario: @_idUsuario, idPerfil: @_idPerfil, idRegistro: idR},
                dataType: 'html', //el tipo de dato que nos regresara el servidor en este caso regresa html
                url: '@Url.Action("_PasoParaModificarRegistro", "Home")',
                success: function (response) {
                    $('#resModificarRegistro').html('');
                    $('#resModificarRegistro').html(response);
                },

                error: function (error) {
                    // si hay un error lanzara el mensaje de error
                    alert('Fail');
                }


            });

        }*@



    function abrirModalEliminar(idRegistro) {

        debugger;

        var miTabla = "RegistroRutas";

        $.ajax({
            cache: false,
            async: true,
            type: "POST",
            dataType: "html",
            data: { id: idRegistro, tabla: miTabla, idUsuario: @_idUsuario},
            url: "@Url.Action("procesoParaEliminarOcultar", "Home")",
            success: function (response) {
                $('#resConfirmarEliminar').html('');
                $('#resConfirmarEliminar').html(response);
            },

            error: function (response) {

                if (response.ok == false) {
                    $("#resErrorConfirmarEliminar").html(response.mensaje);
                }
            }


        });


    }



</script>


