@model GR_MVC_17.RegistroRutas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RegistroRutas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RutasUsuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RutasUsuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoInconveniente.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoInconveniente.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPerfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdHerramienta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdHerramienta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdRutaBici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRutaBici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoRutaCorrer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoRutaCorrer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoRutaBici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoRutaBici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km_Bici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km_Bici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdRuta_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdRuta_Alternativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Km_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Km_Alternativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoRutaCorrer_Alternativa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoRutaCorrer_Alternativa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EsDuatlon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsDuatlon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
