@model GR_MVC_17.DTO.SeguimientoRegistro_DTO

@{
    ViewBag.Title = "4.1- Crear Registro Final";
    var fechaActual = DateTime.Now.ToShortDateString();
}

<div class="container-fluid" style="background-color:black">
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Fecha</span>
        <div class="col-sm-10">
            @Html.Editor("Fecha", new { htmlAttributes = new { @class = "datepicker", @type = "date", id = "fecha" } })
        </div>
    </div>
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Km</span>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="km">
        </div>
    </div>
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Zapatillas</span>
        <div class="col-sm-10">
            <select class="form-control small" id="herramientas">
                @{
                    foreach (var item in ViewBag.Herramientas)
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Tipo</span>
        <div class="col-sm-10">
            <select class="form-control small" id="perfiles">
                @{
                    foreach (var item in ViewBag.Perfiles)
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Ruta</span>
        <div class="col-sm-10">
            <select class="form-control small" id="rutas">
                @{
                    foreach (var item in ViewBag.Rutas)
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="row" style="margin: 1rem">
        <span class="control-label col-sm-2" style="color:white">Inconv.</span>
        <div class="col-sm-10">
            <select class="form-control small" id="inconvenientes">
                @{
                    foreach (var item in ViewBag.Inconvenientes)
                    {
                        <option value=@item.Value>@item.Text</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="row" style="text-align:center; margin-top:10%">
        <div class="col">
            <input type="button" id="btnCrear" value="Crear Registro" class="btn btn-success" />
        </div>
    </div>

    <div id="resRegistroError" style="text-align:left; color:red; margin-top: 5%"></div>

</div>



<script type="text/javascript">
        $(function () {
            $("#btnCrear").click(function () {
                
                var fechaParam = $("#fecha").val();
                var kmParam = $("#km").val();

                //debugger;

                if (fechaParam == "") {
                    $("#resRegistroError").html("Debes informar una fecha");
                } else if (kmParam == "") {
                    $("#resRegistroError").html("Debes informar los KM");
                }

                else {

                    debugger;
                $.ajax({
                    type: "POST",
                    url: "/Home/_CrearRegistro",
                    data: '{fecha: "' + $("#fecha").val() + '", km: "' + $("#km").val() + '", idHerramienta: "' + $("#herramientas").val() + '", idPerfil: "' + $("#perfiles").val() + '", ruta: "' + $("#rutas").val() + '", inconve: "' + $("#inconvenientes").val() + '", idUsuario: "' + @Model.idUsuario_S + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        if (response.ok == true) {
                            $("#ModalRegistro").modal("hide");
                            window.location.reload();
                        }
                        else {
                            $("#resRegistroError").html(response.mensaje);
                        }

                    },
                    failure: function (response) {
                        $("#resRegistroError").html(response.mensaje);
                    },
                    error: function (response) {
                        //debugger;
                        $("#resRegistroError").html(response.mensaje);
                    }
                });
                }


            });

            $("#btnVolver").click(function () {
                $("#ModalRegistro").modal("hide");
            });
        });
</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


